@charset "UTF-8";

body {
  background-color: #E9E6C3;
  margin: 0;
}

header {
  background-image: linear-gradient(to bottom, #3AD07D, #175131);
  color: white;
  text-align: center;
}

.titulo {
  padding-top: 14px;
  margin-top: 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  font-weight: normal;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.343));
}

h1 {
  margin: 0;
}

.subtitulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.343));
}

nav {
  margin: 0;
  text-align: start;
  padding: 10px;
}

a {
  color: #95D7B2;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  padding: 7px;
  border-radius: 5px;
}

a:hover {
  background-color: #2DA161;
  color: #00682C;
}

main {
  margin: auto;
  background-color: white;
  width: 1000px;
  padding: 10px;
  text-align: justify;
  border-radius: 0 0 10px 10px;

}

.android {
  font-family: 'idroid';
  color: #0F3925;

}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
  text-indent: 30px;
}

h2 {
  background-color: #DCF8E8;
  font-family: 'idroid';
  color: #185F35;
}

.aprender {
  margin: auto;
  background-color: #81E2AB;
  border-radius: 0px 0px 15px 15px;
  width: 98%;
  padding: 10px;
}

ul {
  column-count: 2;
  column-gap: 20px;
}

img {
  width: auto;
}


.mais {
  background-color: #175C34;
  margin: 10px 0 0 0;
  border-radius: 15px 15px 0px 0px;
  padding: 5px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.centro {
  text-align: center;
}

.rodape {
  background-color: #022911;
  text-align: center;
  margin-top: 30px;
  color: white;
}

.rodape>p {
  margin: 0;
  padding: 3px;
}

.video {
  background-color: #043D1D;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}